###############################################################################
##                                                                           ##
##       GIT IGNORE FOR html5-boilerplate                                    ##
##       ---------------------------------                                   ##
##       By: waanit<admin@waan.it>                                			 ##
##       License: Copyright@waanit, all rights reserved                      ##
##                                                                           ##
###############################################################################

## OS and Utility ##

#==================#
#     OS Files     #
#==================#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
Thumbs.db
*.Trashes
Icon?

#==================#
# Compiled source  #
#==================#
*.com
*.class
*.dll
*.exe
*.o
*.so

#==================#
# 	  Packages     #
#==================#
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#==================#
#    Log files     #
#==================#
*.log
error_log
access_log
*.sql
*.sqlite

#===================================#
#       Config and other Files      #
#===================================#
node_modules
.idea/
.sass-cache

#===================================#
#       	User specific           #
#===================================#
*~
.svn
.cvs
*.bak
*.swp
sitemap.xml
sitemap.xml.gz
*.psd

